.footer{
    position: relative;
    background-color: #e7e7e7;
    padding: 0 200px 100px 200px;
    box-sizing: border-box;
    &-subscribe-section{
        border-radius: 10px;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        top: -125px;
        max-width: 1300px;
        width: 100%;
        height: 250px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F8F8F8;
        box-sizing: border-box;
        padding: 70px;
        box-shadow: 0px 20px 72px -25px rgba(169, 169, 169, 1);
        &-desc{
            margin: 0;
            padding: 0;
            align-items: center;
            & p:nth-child(1){
                font-weight: 500;
                font-size: 35px;
                color: #0B132A;
                padding: 0;
                margin: 0;
                line-height: 45px;
            }
            & p:nth-child(2){
                font-weight: normal;
                font-size: 16px;      
                color: #4F5665;
                padding: 0;
                margin: 20px 0 0 0;
            }
        }
    }
    &-columns{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        &-column{
            & p{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                color: #4F5665;
                &:nth-child(1){
                   font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 30px;
                    color: #0B132A; 
                }
            }
            flex: 1;
            &:nth-child(1){
                flex: 3;
                & p{
                    &:nth-child(2){
                    margin: 20px 0 30px 0;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: #4F5665;
                    }
                    &:nth-child(3){
                        & img{
                            width: 34px;
                            height: 34px;
                            margin: 0 20px 0 0;
                            border-radius: 100px;
                            box-shadow: 0px 10px 30px 0px rgb(177, 177, 177);
                        }
                    }
                    &:nth-child(4){
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 30px;
                        color: #AFB5C0;
                    }

                }
                    
            }
        }
    }
}
@media (max-width: 1440px){
    .footer{
        padding: 0 100px 50px 100px;
        &-subscribe-section{
            height: 200px;
            top: -100px;
            padding: 50px;
            max-width: 1000px;
            width: 100%;
            &-desc{
                & p:nth-child(1){
                    font-size: 30px;
                    line-height: 32px;
                }
                & p:nth-child(2){
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 1024px){
    .footer{
        padding: 0;
        &-subscribe{
            &-section{
                margin: 0 auto;
                box-sizing: border-box;
                width: 100%;
                max-width: 750px;

            }
        }
        &-columns{
            padding: 20px;
        }
    }
}
@media (max-width: 768px) {
    .footer{
        &-subscribe{
            &-section{
                padding: 45px 0 30px 0;
                display: block;
                height: 300px;
                width: 80%;
                text-align: center;
                top: -150px;
                &-desc{
                    padding: 0;
                    & p{
                        &:nth-child(1){
                            font-size: 24px;
                        }
                        &:nth-child(2){
                            padding: 10px 0 20px 0;
                        } 
                    }
                    
                }
            }
        }
        &-columns{
            box-sizing: border-box;
            margin: 0;
            justify-content: space-around;
            flex-flow: wrap-reverse;
            &-column{
                flex: none;
                display: block;
                &:nth-child(1){
                    display: block;
                    text-align: center;
                    width: 100%;
                    flex: none;
                    box-sizing: border-box;
                        &:nth-child(1){
                            padding: 20px 0 0 0;
                        }
                        &:nth-child(2){
                            padding: 0;
                        }
                        & br{
                            display: none;
                        }
                }
            }
        }
    }
    
}
@media (max-width: 425px){
    .footer{
        &-columns{
            flex-direction: column-reverse;
            text-align: center;
            padding: 5px;
            &-column{
                margin: 20px 0 0 0;
                
                &:nth-child(1){
                    width: 100%;
                }
                &:nth-child(2){
                    width: 100%;
                }
                &:nth-child(3){
                    width: 100%;
                }
                &:nth-child(4){
                    width: 100%;
                }
                & p{
                    line-height: 15px;
                }
            }
        }
        &-subscribe{
            &-section{
                &-desc{
                    & p{
                        &:nth-last-child(2){
                            font-size: 20px;
                        }
                        &:nth-last-child(3){
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .button-modal{
        width: auto;
        padding: 0 20px;
    }
}
